/*
Theme Name: Shaktiman Italia
Description: Child theme di Autoev per Shaktiman Italia
Author: Shaktiman Italia
Template: autoev
Version: 1.0.0
Text Domain: shaktiman-italia
*/

/* Aggiungi qui i tuoi stili personalizzati */